// Выравнивание блочных элементов по центру
center-block() 
  display: block;
  margin-left: auto;
  margin-right: auto;

// Выравнивание элементов по центру

absolute-center() 
	absolute(50%, 50%);
	transform: translate(-50%, -50%);

fixed-center() 
	fixed(50%, 50%);
	transform: translate(-50%, -50%);
