.btn {
  display: inline-block;
  line-height: 1;
  border: 0;

  {hover-focus-active} {
    text-decoration: none;
    outline: none;
  }

  &--plain {
    size(1em);
    background: transparent;
    padding: 0;
  }

  &--default {
    font: 600 vw(24)/1 $font-base;
    padding: 0;
    flexy(center, center);

    @media $display-breakpoints.sm-and-down {
      font-size: vw(24, 480);
    }

    .icon {
      font-size: vw(40);
      margin-left: vw(16);

      @media $display-breakpoints.sm-and-down {
        font-size: vw(40, 480);
        margin-left: vw(16, 480);
      }
    }
  }
}

.readmore {
  font: vw(24)/1.33 $font-base;
  text-decoration: underline;
}
