.field {
  
  & + & {
    margin-top: vw(30);

    @media $display-breakpoints.sm-and-down {
      margin-top: vw(30, 480);
    }
  }

  &__input {
    display: block;
    width: 100%;
    font: 300 vw(24)/1 $font-base;
    height: calc(2.9167vw + 1px);
    padding: vw(16) 0;
    border: 0;
    border-bottom: 1px solid $black;
    box-sizing: border-box;
    box-shadow: none;
    background: transparent;

    @media $display-breakpoints.sm-and-down {
      font-size: vw(24, 480);
      height: calc(11.667vw + 1px);
      padding: vw(16, 480) 0;
    }

    {hover-focus-active} {
      outline: none;
    }

    textarea& {
      min-height: calc(2.9167vw + 1px);
      width: 100%;
      min-width: 100%;
      max-width: 100%;

      @media $display-breakpoints.sm-and-down {
        min-height: calc(11.667 + 1px);
      }
    }
  }

  &__label {
    relative();
    display: block;
  }

  &__label-text {
    font: 600 vw(24)/1.33 $font-base;
    text-transform: uppercase;
    margin-bottom: vw(10);

    @media $display-breakpoints.sm-and-down {
      font-size: vw(24, 480);
      margin-bottom: 0;
    }
  }

  &__placeholder {
    font: 300 vw(24)/1 $font-base;
    padding: vw(16) 0;
    absolute(0px, 0px);
    color: $grey-light;
    cursor: text;
    transition: opacity 0.3s, transform 0.3s;

    @media $display-breakpoints.sm-and-down {
      font-size: vw(24, 480);
      padding: vw(16, 480) 0;
    }

    ^[0]__input:focus ~ &,
    ^[0].has-focus &,
    ^[0].has-value & {
      opacity: 0;
      transform: translateX(20%);
    }
  }
}

.fieldset {
  min-height: vw(510);
  border-bottom: 1px solid currentColor;
  margin-bottom: vw(70);

  @media $display-breakpoints.sm-and-down {
    max-width: vw(400, 480);
    margin-bottom: vw(50, 480);
  }
}

.flow-textarea {
  overflow: hidden;
  resize: none;

  &-example {
    font: 300 vw(24)/1 $font-base;
    padding: vw(16) 0;
    absolute(100%, 0px);
    width: 100%;
    z-index: -100;
    opacity: 0;

    @media $display-breakpoints.sm-and-down {
      font-size: vw(24, 480);
      padding: vw(16, 480) 0;
    }
  }
  &-label {
    overflow: hidden;
  }
}