$unit-h = 4.25%;
$unit-v = 1.25rem;

for item in (1...11) {
  .ml-{item} {
    margin-left: $unit-h * item;
  }
  .mr-{item} {
    margin-right: $unit-h * item;
  }
  .mt-{item} {
    margin-top: $unit-v * item;

    @media $smWidth {
      margin-top: 3.125vw * item;
    }
  }
  .mb-{item} {
    margin-bottom: $unit-v * item;
    
    @media $smWidth {
      margin-bottom: 3.125vw * item;
    }
  }
}

@media $smWidth {
  [class*="ml-"] {
    margin-left: 0;
  }
  [class*="mr-"] {
    margin-right: 0;
  }
  .mml {
    margin-left: 12.5vw;
  }
}