.about {
  .section {
    &__img {
      img {
        display: block;
        size(100%, auto);
      }
    }

    &__info {
      z-index: 2;
    }

    &__content {
      padding: vw(70) 0;

      @media $display-breakpoints.sm-and-down {
        padding: vw(36, 480) 0;
      }
    }

    &__title {
      font: 600 vw(32)/0.8 $font-base;
      text-transform: uppercase;
      display: inline-block;
      relative();
      padding-right: 0.5em;
      margin-bottom: vw(50);

      @media $display-breakpoints.sm-and-down {
        font-size: vw(32, 480);
        margin-bottom: vw(30, 480);
      }

      &::after {
        content: '';
        display: block;
        size(vw(220), 1px);
        absolute(0, 100%, 0px);
        background: currentColor;

        @media $display-breakpoints.sm-and-down {
          width: vw(225, 480);
        }
      }
    }

    &__desc {
      font: 300 vw(24)/1.33 $font-base;

      @media $display-breakpoints.sm-and-down {
        font-size: vw(24, 480);
      }
    }

    &__more {
      padding-top: vw(16);

      @media $display-breakpoints.sm-and-down {
        padding-top: vw(16, 480);
      }
    }
  }

  &__story .section {
    &__title {
      @media $display-breakpoints.sm-and-down {
        margin-bottom: vw(43, 480);
      }

      &::after {
        @media $display-breakpoints.sm-and-down {
          width: vw(200, 480);
        }
      }
    }
    &__icon {
      absolute(vw(120), 0px);

      @media $display-breakpoints.sm-and-down {
        top: vw(88, 480);
      }

      .icon {
        size(vw(240));

        @media $display-breakpoints.sm-and-down {
          size(vw(180, 480));
        }
      }
    }
  }

  &__team .section {
    &__content {
      padding-bottom: vw(30);
      border-bottom: 1px solid $black;

      @media $display-breakpoints.sm-and-down {
        padding: vw(150, 480) 0 vw(48, 480);
      }
    }
    &__icon {
      absolute(vw(-40), vw(440));

      @media $display-breakpoints.sm-and-down {
        top: vw(-24, 480);
        left: auto;
        right: 0;
      }

      .icon {
        size(vw(240));

        @media $display-breakpoints.sm-and-down {
          size(vw(150, 480));
        }
      }
    }
  }

  &__press {
    .section__title::after {
      width: vw(286);

      @media $display-breakpoints.sm-and-down {
        width: vw(294, 480);
      }
    }
  }

  &__map {
    .map {
      height: vw(670);
      background: $grey-lighter;
      filter: grayscale(100%);

      @media $display-breakpoints.sm-and-down {
        height: vw(360, 480);
      }
    }

    .section {
      &__title::after {
        @media $display-breakpoints.sm-and-down {
          width: vw(120, 480);
        }
      }
      &__content {
        min-height: vw(510);

        @media $display-breakpoints.sm-and-down {
          min-height: vw(370, 480);
          padding-bottom: vw(180, 480);
        }
      }
      &__icon {
        absolute(0, 0px, 0px);

        @media $display-breakpoints.sm-and-down {
          left: auto;
          right: 0;
        }

        .icon {
          size(vw(210), vw(240));

          @media $display-breakpoints.sm-and-down {
            size(vw(150, 480), vw(170, 480));
          }
        }
      }
    }
  }
}

.press {
  column-count: 4;
  column-gap: $grid-gutter;

  @media $display-breakpoints.sm-and-down {
    column-count: 1;
  }

  &__item {
    font: 600 vw(24)/1.33 $font-base;
    text-transform: uppercase;
    color: #a7a9ac;
    border-bottom: 1px solid currentColor;

    @media $display-breakpoints.sm-and-down {
      font-size: vw(24, 480);

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__link {
    color: inherit;
  }
}