.about {
  .section {
    &__img {
      img {
        display: block;
        size(100%, auto);
      }
    }

    &__content {
      padding: 70px 0;
    }

    &__title {
      font: 600 24px/0.8 $font-base;
      text-transform: uppercase;
      display: inline-block;
      relative();
      padding-right: 0.5em;
      margin-bottom: 50px;

      &::after {
        content: '';
        display: block;
        size(220px, 1px);
        absolute(0, 100%, 0px);
        background: currentColor;
      }
    }

    &__desc {
      font: 300 24px/1.33 $font-base;
    }

    &__more {
      padding-top: 1rem;
    }
  }

  &__story .section {
    &__icon {
      absolute(120px, -75px);

      .icon {
        size(240px);
      }
    }
  }

  &__team .section {
    &__content {
      padding-bottom: 30px;
      border-bottom: 1px solid $black;
    }
    &__icon {
      absolute(-40px, 440px);

      .icon {
        size(240px);
      }
    }
  }

  &__press {
    .section__title::before {
      width: 286px;
    }
  }

  &__map {
    .map {
      height: 670px;
      background: $grey-light;
    }

    .section {
      &__content {
        min-height: 510px;
      }
      &__icon {
        absolute(0, 0px, 0px);

        .icon {
          size(210px, 240px);
        }
      }
    }
  }
}

.press {
  column-count: 4;
  column-gap: $grid-gutter;

  &__item {
    font: 600 24px/1.33 $font-base;
    text-transform: uppercase;
    color: #a7a9ac;
    border-bottom: 1px solid currentColor;
  }
}