.contacts-page {
  .map {
    size(100%, 830px);
    background: $grey-light;
  }

  &__content {
    padding: 80px 0;
  }

  &__title {
    font: 600 32px/0.8 $font-base;
    text-transform: uppercase;
    display: inline-block;
    relative();
    padding-right: 0.5em;
    margin-bottom: 80px;

    &::after {
      content: '';
      display: block;
      size(140px, 1px);
      absolute(0, 100%, 0px);
      background: currentColor;
    }
  }

  .contacts {
    margin-top: 100px;

    &__item {
      font: 300 24px/1.33 $font-base;
    }
    &__link-item {
      font: 600 24px/1.33 $font-base;
      text-decoration: underline;
    }
  }
}