.footer {
  width: 100%;
  padding: vw(70) 0;
	padding-right: vw(90);
  background: $grey;
  color: $white;
  z-index: 2;

  @media $display-breakpoints.sm-and-down {
    padding: vw(80, 480) 0 vw(60, 480);
  }

  [class*="l-flex"] {
    align-items: flex-end;

    @media $display-breakpoints.sm-and-down {
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  a {
    color: inherit;
  }

  &__logo {
    .icon {
      size(vw(120), vw(40));

      @media $display-breakpoints.sm-and-down {
        size(vw(120, 480), vw(40, 480));
      }
    }
  }

  &__link {
    font: 600 vw(24)/1.33 $font-base;
    text-decoration: underline;

    @media $display-breakpoints.sm-and-down {
      font-size: vw(24, 480);
    }
  }

  .contacts {
    font: vw(24)/1.33 $font-base;

    @media $display-breakpoints.sm-and-down {
      font-size: vw(24, 480);
    }

    &__title {
      text-transform: uppercase;
      margin-bottom: vw(165);

      @media $display-breakpoints.sm-and-down {
        margin-bottom: vw(40, 480);
      }
    }
  }

  .contact .contacts__item {
    font-weight: 300;
  }

  .address {
    @media $display-breakpoints.sm-and-down {
      margin-top: vw(30, 480);
    }
  }
  .contact {
    @media $display-breakpoints.sm-and-down {
      margin-top: vw(60, 480);
    }
  }
}