.header {
	fixed(0px, 0px);
	right: 0;
	z-index: 9;
	background: $white;
	color: $black;
	padding-right: vw(90);

	@media $display-breakpoints.sm-and-down {
		padding-right: 0;
	}

	a {
		color: inherit;
	}

	&__content {
		padding: vw(35) 0 vw(40);

		@media $display-breakpoints.sm-and-down {
			padding: vw(30, 480) 0;
		}
	}

	&__logo {
		transform: translateZ(0);
		line-height: 1;
		vertical-align: middle;

		a {
			display: inline-flex;
			justify-content: flex-start;
			align-items: flex-end;
			height: vw(40);
			line-height: 1;
			vertical-align: middle;

			@media $display-breakpoints.sm-and-down {
				height: vw(40, 480);
			}
		}

		.icon {
			size(vw(120), vw(40));

			@media $display-breakpoints.sm-and-down {
				size(vw(120, 480), vw(40, 480));
			}
		}

		.text {
			margin-left: vw(30);
			font: 300 vw(18)/1 $font-base;
			text-transform: uppercase;

			@media $display-breakpoints.sm-and-down {
				margin-left: vw(30, 480);
				font-size: vw(18, 480);
			}
		}
	}

	&__text {
		padding-right: vw(12);
		border-right: 1px solid currentColor;
		text-align: right;
	}

	&__search {
		absolute(vw(40));
		right: vw(25);

		.field {
			flexy(flex-end, center);
			opacity: 0.4;
			transition: opacity 0.3s;

			&.has-focus {
				opacity: 1;
			}
			
			&__input {
				width: vw(500);
				font: 300 vw(18) $font-base;
				line-height: vw(25);
				text-transform: uppercase;
				padding: 0;
				height: 2em;
				border: 0;
			}
		}

		.btn {
			font-size: vw(40);
			padding: 0.25em;

			.icon {
				display: block;
				font-size: vw(20);
			}
		}
	}

	&__btn {
		text-align: right;

		.btn {
			font-size: vw(40, 480);
		}
	}
	
}