.sidebar {
  fixed(0px);
  right: 0;
  size(vw(90), 100%);
  z-index: 2;
  background $white;
  color: $black;

  &__content {
    padding-top: vw(125);
  }

  &__nav {
    transform: rotate(-90deg) translate(-100%, 0%);
    transform-origin: left top;
    size(vw(490), vw(90));

    .nav {
      &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        flexy(flex-start, flex-start);
      }
      &__item {
        margin: 0 vw(40);
        padding: 0;
      }
      &__link {
        display: block;
        relative();
        padding: vw(36) vw(10);
        font: 300 vw(18)/1 $font-base;
        text-transform: uppercase;

        &::before {
          content: '';
          display: block;
          size(100%, 6px);
          absolute(0, 0px, 0px);
          background: currentColor;
          transition: transform 0.3s;
          transform: scaleX(0) translateZ(0);
          transform-origin: center;
        }
        &:hover::before,
        &.active::before {
          transform: scale(1) translateZ(0);
        }
      }
    }
  }
}