@import 'vars.styl';
if $use-fonts {
  @import 'fonts.styl';
}
@import './tools/mixins.styl';
if $use-grid {
  @import './grid/gridlex.styl';
  @import './base/hiddens.styl';
}
@import './plugins/plugins.styl';
@import './base/normalize.styl';
@import './base/layout.styl';
if $use-spacing {
  @import './base/spacing.styl';
}
@import './base/typography.styl';
@import './base/icon.styl';
@import './base/animation.styl';
@import './base/buttons.styl';
@import './base/form.styl';
if $use-carousel {
  @import './base/carousels.styl';
}
if $use-modal {
  @import './base/modal.styl';
}

@import './components/header.styl';
@import './components/footer.styl';
@import './components/sidebar.styl';
@import './components/aside.styl';
@import './components/social.styl';

// pages
@import './pages/about.styl';
@import './pages/single.styl';
@import './pages/projects.styl';
@import './pages/contacts.styl';
